.sub-container1{
    background: linear-gradient(blue, purple);
    width: 100%;
    height: 300px;
    padding-left: 70px;
    padding-top: 70px;
    display: flex;
    
}
img {
    width: 300px;
    height: 300px;
    margin-right: 150px;
 
    
}

.title{
    color: white;
    font-size: 40px;
    margin-bottom: 30px;
    width: 500px;
    
}

.sub-title{
    width: 40%;
    font-size: 15px;
    color: white;
    
    
}
.text-container {
    display: flex;
    flex-direction: column; /* 수직 정렬 */
}
button{
    width: 100px;
    height: 30px;
    background-color: rgb(59, 56, 56);
    color: white;
    margin-top: 20px;
}

.sub-container2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
}
.desc{
    font-weight: bold;
}
.sub-container3{
    background-color: rgb(106, 106, 230);
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sub-title2{
    font-weight: bold;
}

  .product-container {
    width: 80%;
    max-width: 1000px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .product-container div {
    float: left;
    width: 25%;
    text-align: center;
  }
  
  .product-container i {
    background: rgb(236, 234, 234);
    width: 100px;
    height: 100px;
    padding-top: 25px;
    margin-top: 20px;
    border-radius: 50px;
    color: rgb(106, 106, 230);
    box-sizing: border-box;
  }
  .text-container3 {
    display: flex;
    flex-direction: column; /* 수직 정렬 */
}